.card {
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 206px 16px 16px;
  height: 406px;
  max-width: $card-product-width;
  background-image: url(../images/imac.jpeg);
  background-size: $image-size-width $image-size-height;
  background-repeat: no-repeat;
  background-position: center 32px;

  &__description {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #060b35;
  }

  &__code {
    margin-top: 4px;
    color: #616070;
  }

  &__price {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
  }

  &__price-label {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    color: #616070;
  }

  &__price-amount {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #060b35;
  }

  &__button-label {
    box-sizing: border-box;
    margin-top: 16px;
    display: flex;
    height: 40px;
    width: 166px;
    border: 1px solid #00acdc;
    border-radius: 5px;
    background-color: #00acdc;
    line-height: 16px;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }

  &__button-label:hover {
    background-color: #fff;
    color: #00acdc;
  }

  &__review {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    &-amount {
      color: #060b35;
      line-height: 14px;
      align-self: flex-end;
    }
  }
}
